.note{
font-size: 18px;
    color: aqua;
}

#heading{
   width: 100%;
   margin: 0px;
}

body{
    background-size: cover;
}

.copy_right_footer{

    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
    }

    canvas{
        border-radius: 20px;
        box-shadow: 5px 5px 5px grey ;
        margin-top: 250px;
        border: 10px;
       }